<h3 class="text-center">Welome to Timer App</h3>
<hr />
<form [formGroup]="myForm" (ngSubmit)="onTimerStart()">
  <div class="row justify-content-center">
    <div class="col-7 col-sm-7 col-md-5">
      <div class="row">
        <div class="col-8">
          <input
            type="number"
            min="0"
            formControlName="time"
            class="form-control"
          />
        </div>
        <div class="col-4">
          <select class="custom-select" formControlName="type">
            <option [value]="60 * 60">hrs</option>
            <option [value]="60">min</option>
            <option [value]="1">sec</option>
          </select>
        </div>
      </div>
    </div>
    <div class="col-5 col-sm-5 col-md-3">
      <button class="btn btn-success" [disabled]="!myForm.valid">
        Start Timer
      </button>
    </div>
  </div>
</form>
<hr />
<div class="row justify-content-center">
  <countdown
    #timer
    style="font-size: 24px; font-weight: bold; color: blue;"
    (event)="timerEvent($event)"
  ></countdown>
</div>
<div class="row justify-content-center">
  <button class="btn btn-info m-1" (click)="timer.pause()">pause</button>
  <button class="btn btn-secondary m-1" (click)="timer.resume()">resume</button>
  <button class="btn btn-danger m-1" (click)="timer.restart()">
    restart
  </button>
</div>

<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Timer App</h4>
    <button
      type="button"
      class="close pull-right"
      aria-label="Close"
      (click)="modalRef.hide()"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <form [formGroup]="taskForm" (ngSubmit)="onTaskSubmit()">
    <div class="modal-body">
      <div class="form-group">
        <label>Title</label>
        <textarea
          class="form-control"
          rows="2"
          [class.is-invalid]="
            !taskForm.get('task').valid && taskForm.get('task').touched
          "
          formControlName="task"
          placeholder="please enter the name of task"
        ></textarea>
        <div class="invalid-feedback">
          Please enter a task name.
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button class="btn btn-primary" type="submit">save</button>
      <button class="btn btn-primary" type="button" (click)="modalRef.hide()">
        close
      </button>
    </div>
  </form>
</ng-template>
